h1,h3{
  text-align: center;
  margin: 2%;
}
#main{
  height: 100vh;
}
.navbar{
  background-color:#E9E9E9;
}
.card-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  place-content: space-between;
}
.recipesDiv{
  display: grid;
  grid-template-columns:  375px 375px 375px;
  padding: 2%;
  justify-content: center;
}
.recipesDiv img{
 height: 200px;
}

@media (min-width: 481px) and (max-width: 767px) {

  .recipesDiv{
      display: grid;
      grid-template-columns:  300px;
      padding: 2%;
      gap:10px;
      justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .recipesDiv{
      display: grid;
      grid-template-columns:  355px;
      padding: 2%;
      gap:10px;
      justify-content: center;
  }
}